

.user-card{
    display: flex;
    background-color: lightgray;
    margin-top: 10px;
    img {
            border-radius: 50%;
        };
    .user-info{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 30px;
    }
}
